In [375]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

Download EPA data:

In [376]:
epa_suffolk = pd.read_csv('./data/epa_data/EJSCREEN_2023_Tracts_Suffolk.csv', encoding='latin-1', low_memory=False)
epa_LA = pd.read_csv('./data/epa_data/EJSCREEN_2023_Tracts_LA.csv', encoding='latin-1', low_memory=False)
epa_harris = pd.read_csv('./data/epa_data/EJSCREEN_2023_Tracts_Harris.csv', encoding='latin-1', low_memory=False)

In [349]:
#epa_suffolk.info()

In [350]:
#epa_LA.info()

In [351]:
#epa_harris.info()

Download ACS data:

In [377]:
acs_suffolk = pd.read_csv('./data/census_data/Suffolk_County_Cleaned_Data.csv', 
                       encoding='latin-1', low_memory=False)
acs_LA = pd.read_csv('./data/census_data/LA_County_Cleaned_Data_With-Header.csv', 
                       encoding='latin-1', low_memory=False)
acs_harris = pd.read_csv('./data/census_data/Harris_County_Cleaned_Data.csv', 
                       encoding='latin-1', low_memory=False)

In [378]:
epa_suffolk.head()
epa_suffolk

,ID,STATE_NAME,ST_ABBREV,CNTY_NAME,REGION,PM25,OZONE,DSLPM,CANCER,RESP,RSEI_AIR,PTRAF,PRE1960,PRE1960PCT,PNPL,PRMP,PTSDF,UST,PWDIS
0,25025000101,Massachusetts,MA,Suffolk,1,7.231061,57.52787,0.421661,30.0,0.3,4327.941599,1072.806706,397.0,0.686851,0.082760,0.155476,26.338040,4.707373,0.002001
1,25025000102,Massachusetts,MA,Suffolk,1,7.231061,57.52787,0.421661,30.0,0.3,4332.727526,1812.831306,487.0,0.326846,0.083028,0.141833,23.256403,3.936035,0.003599
2,25025000201,Massachusetts,MA,Suffolk,1,7.237915,57.31368,0.342112,20.0,0.3,4356.252038,863.891322,1308.0,0.709712,0.085904,0.120828,13.385100,1.433462,0.002310
3,25025000202,Massachusetts,MA,Suffolk,1,7.241805,57.40047,0.345565,20.0,0.3,4422.413875,736.756283,1179.0,0.763107,0.087418,0.130583,19.255717,2.800577,0.001759
4,25025000301,Massachusetts,MA,Suffolk,1,7.238449,57.24225,0.339133,20.0,0.3,4339.000103,1137.412735,523.0,0.422797,0.084361,0.112525,9.918938,1.540744,0.001451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,25025981600,Massachusetts,MA,Suffolk,1,7.041002,59.97622,NaN,NaN,NaN,3044.930911,56.346821,0.0,0.000000,0.061235,0.244218,7.628301,1.825356,0.245649
231,25025981700,Massachusetts,MA,Suffolk,1,7.216320,58.53758,NaN,NaN,NaN,3628.924545,2765.808744,0.0,0.000000,0.080886,0.603712,52.473968,5.237528,0.005129
232,25025981800,Massachusetts,MA,Suffolk,1,7.278515,57.99806,0.518381,30.0,0.3,4853.382243,1418.707751,0.0,0.000000,0.112089,0.303752,35.614694,12.912027,0.002831
233,25025981900,Massachusetts,MA,Suffolk,1,7.234276,57.58873,0.286989,20.0,0.3,0.000000,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
234,25025990101,Massachusetts,MA,Suffolk,1,7.025851,60.23115,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN

In [379]:
acs_suffolk.head()

,Unnamed: 0,GEO_ID,NAME,DP05_0063E,DP05_0063M,DP05_0064E,DP05_0064M,DP05_0065E,DP05_0065M,DP05_0067E,DP05_0067M,DP05_0071E,DP05_0071M
0,0,Geography,Geographic Area Name,Total Population,Total Population - Error,White Population,White Population - Error,Black or African American Population,Black or African American Population - Error,Asian Population,Asian Population - Error,Hispanic or Latino Population,Hispanic or Latino Population - Error
1,2,1400000US25025000100,"Census Tract 1, Suffolk County, Massachusetts",5884,405,3636,389,485,257,1338,367,720,322
2,3,1400000US25025000201,"Census Tract 2.01, Suffolk County, Massachusetts",4125,253,3361,346,357,226,376,134,316,131
3,4,1400000US25025000202,"Census Tract 2.02, Suffolk County, Massachusetts",4461,377,3340,448,439,282,465,149,1207,370
4,5,1400000US25025000301,"Census Tract 3.01, Suffolk County, Massachusetts",3074,239,2279,276,310,178,325,157,417,208

In [380]:
#remove row 0 and 'Unnamed' column
acs_suffolk_clean = acs_suffolk.drop('Unnamed: 0',axis=1)
acs_suffolk_clean = acs_suffolk_clean.drop(0,axis=0)
acs_suffolk_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 1 to 204
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      204 non-null    object
 1   NAME        204 non-null    object
 2   DP05_0063E  204 non-null    object
 3   DP05_0063M  204 non-null    object
 4   DP05_0064E  204 non-null    object
 5   DP05_0064M  204 non-null    object
 6   DP05_0065E  204 non-null    object
 7   DP05_0065M  204 non-null    object
 8   DP05_0067E  204 non-null    object
 9   DP05_0067M  204 non-null    object
 10  DP05_0071E  204 non-null    object
 11  DP05_0071M  204 non-null    object
dtypes: object(12)
memory usage: 19.3+ KB

In [381]:
# change data from str to int64
int_values = np.array(acs_suffolk_clean.columns)[2:]
acs_suffolk_clean[int_values] = acs_suffolk_clean[int_values].astype(int)
acs_suffolk_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 1 to 204
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      204 non-null    object
 1   NAME        204 non-null    object
 2   DP05_0063E  204 non-null    int64
 3   DP05_0063M  204 non-null    int64
 4   DP05_0064E  204 non-null    int64
 5   DP05_0064M  204 non-null    int64
 6   DP05_0065E  204 non-null    int64
 7   DP05_0065M  204 non-null    int64
 8   DP05_0067E  204 non-null    int64
 9   DP05_0067M  204 non-null    int64
 10  DP05_0071E  204 non-null    int64
 11  DP05_0071M  204 non-null    int64
dtypes: int64(10), object(2)
memory usage: 19.3+ KB

In [382]:
acs_LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      2499 non-null   object
 1   NAME        2499 non-null   object
 2   DP05_0063E  2499 non-null   object
 3   DP05_0063M  2499 non-null   object
 4   DP05_0064E  2499 non-null   object
 5   DP05_0064M  2499 non-null   object
 6   DP05_0065E  2499 non-null   object
 7   DP05_0065M  2499 non-null   object
 8   DP05_0067E  2499 non-null   object
 9   DP05_0067M  2499 non-null   object
 10  DP05_0071E  2499 non-null   object
 11  DP05_0071M  2499 non-null   object
dtypes: object(12)
memory usage: 234.4+ KB

In [237]:
#acs_LA.head()

In [383]:
# drop row 0
acs_LA_clean = acs_LA.drop(0,axis=0)
acs_LA_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 1 to 2498
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      2498 non-null   object
 1   NAME        2498 non-null   object
 2   DP05_0063E  2498 non-null   object
 3   DP05_0063M  2498 non-null   object
 4   DP05_0064E  2498 non-null   object
 5   DP05_0064M  2498 non-null   object
 6   DP05_0065E  2498 non-null   object
 7   DP05_0065M  2498 non-null   object
 8   DP05_0067E  2498 non-null   object
 9   DP05_0067M  2498 non-null   object
 10  DP05_0071E  2498 non-null   object
 11  DP05_0071M  2498 non-null   object
dtypes: object(12)
memory usage: 234.3+ KB

In [384]:
# change data from str to int64
int_values = np.array(acs_LA_clean.columns)[2:]
acs_LA_clean[int_values] = acs_LA_clean[int_values].astype(int)
acs_LA_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 1 to 2498
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      2498 non-null   object
 1   NAME        2498 non-null   object
 2   DP05_0063E  2498 non-null   int64
 3   DP05_0063M  2498 non-null   int64
 4   DP05_0064E  2498 non-null   int64
 5   DP05_0064M  2498 non-null   int64
 6   DP05_0065E  2498 non-null   int64
 7   DP05_0065M  2498 non-null   int64
 8   DP05_0067E  2498 non-null   int64
 9   DP05_0067M  2498 non-null   int64
 10  DP05_0071E  2498 non-null   int64
 11  DP05_0071M  2498 non-null   int64
dtypes: int64(10), object(2)
memory usage: 234.3+ KB

In [241]:
#acs_harris.head()

In [385]:
acs_harris_clean = acs_harris.drop(0,axis=0)
acs_harris_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 1 to 1115
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      1115 non-null   object
 1   NAME        1115 non-null   object
 2   DP05_0063E  1115 non-null   object
 3   DP05_0063M  1115 non-null   object
 4   DP05_0064E  1115 non-null   object
 5   DP05_0064M  1115 non-null   object
 6   DP05_0065E  1115 non-null   object
 7   DP05_0065M  1115 non-null   object
 8   DP05_0067E  1115 non-null   object
 9   DP05_0067M  1115 non-null   object
 10  DP05_0071E  1115 non-null   object
 11  DP05_0071M  1115 non-null   object
dtypes: object(12)
memory usage: 104.7+ KB

In [386]:
# change data from str to int64
int_values = np.array(acs_harris_clean.columns)[2:]
acs_harris_clean[int_values] = acs_harris_clean[int_values].astype(int)
acs_harris_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 1 to 1115
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      1115 non-null   object
 1   NAME        1115 non-null   object
 2   DP05_0063E  1115 non-null   int64
 3   DP05_0063M  1115 non-null   int64
 4   DP05_0064E  1115 non-null   int64
 5   DP05_0064M  1115 non-null   int64
 6   DP05_0065E  1115 non-null   int64
 7   DP05_0065M  1115 non-null   int64
 8   DP05_0067E  1115 non-null   int64
 9   DP05_0067M  1115 non-null   int64
 10  DP05_0071E  1115 non-null   int64
 11  DP05_0071M  1115 non-null   int64
dtypes: int64(10), object(2)
memory usage: 104.7+ KB

In [387]:
def clean_column(text):
    return int(text[9:])

#test:
clean_column(id_test['GEO_ID'][1])

25025000100

In [388]:
acs_suffolk_addID = acs_suffolk_clean
acs_LA_addID = acs_LA_clean
acs_harris_addID = acs_harris_clean

In [389]:
acs_suffolk_addID.insert(loc = 1,
          column = 'ID',
          value = acs_suffolk_addID['GEO_ID'].apply(clean_column))
acs_LA_addID.insert(loc = 1,
          column = 'ID',
          value = acs_LA_addID['GEO_ID'].apply(clean_column))
acs_harris_addID.insert(loc = 1,
          column = 'ID',
          value = acs_harris_addID['GEO_ID'].apply(clean_column))

In [390]:
acs_suffolk_addID.head()

,GEO_ID,ID,NAME,DP05_0063E,DP05_0063M,DP05_0064E,DP05_0064M,DP05_0065E,DP05_0065M,DP05_0067E,DP05_0067M,DP05_0071E,DP05_0071M
1,1400000US25025000100,25025000100,"Census Tract 1, Suffolk County, Massachusetts",5884,405,3636,389,485,257,1338,367,720,322
2,1400000US25025000201,25025000201,"Census Tract 2.01, Suffolk County, Massachusetts",4125,253,3361,346,357,226,376,134,316,131
3,1400000US25025000202,25025000202,"Census Tract 2.02, Suffolk County, Massachusetts",4461,377,3340,448,439,282,465,149,1207,370
4,1400000US25025000301,25025000301,"Census Tract 3.01, Suffolk County, Massachusetts",3074,239,2279,276,310,178,325,157,417,208
5,1400000US25025000302,25025000302,"Census Tract 3.02, Suffolk County, Massachusetts",3447,386,2400,351,296,279,553,213,374,257

In [391]:
acs_LA_addID.head()

,GEO_ID,ID,NAME,DP05_0063E,DP05_0063M,DP05_0064E,DP05_0064M,DP05_0065E,DP05_0065M,DP05_0067E,DP05_0067M,DP05_0071E,DP05_0071M
1,1400000US06037101110,6037101110,"Census Tract 1011.10, Los Angeles County, Cali...",3879,480,3174,420,73,53,442,114,1005,381
2,1400000US06037101122,6037101122,"Census Tract 1011.22, Los Angeles County, Cali...",4247,875,3272,852,144,118,752,309,339,218
3,1400000US06037101220,6037101220,"Census Tract 1012.20, Los Angeles County, Cali...",3583,486,2531,489,23,27,371,178,1783,450
4,1400000US06037101221,6037101221,"Census Tract 1012.21, Los Angeles County, Cali...",3723,721,2685,642,128,97,273,232,1203,395
5,1400000US06037101222,6037101222,"Census Tract 1012.22, Los Angeles County, Cali...",2690,520,2443,483,17,29,131,197,915,667

In [392]:
acs_harris_addID.head()

,GEO_ID,ID,NAME,DP05_0063E,DP05_0063M,DP05_0064E,DP05_0064M,DP05_0065E,DP05_0065M,DP05_0067E,DP05_0067M,DP05_0071E,DP05_0071M
1,1400000US48201100001,48201100001,"Census Tract 1000.01, Harris County, Texas",4999,538,2957,434,1302,357,519,211,790,209
2,1400000US48201210400,48201210400,"Census Tract 2104, Harris County, Texas",4411,615,2573,569,614,297,0,14,3480,563
3,1400000US48201210500,48201210500,"Census Tract 2105, Harris County, Texas",5013,629,2658,564,666,389,0,20,3980,627
4,1400000US48201210600,48201210600,"Census Tract 2106, Harris County, Texas",5645,1468,4353,1493,512,640,49,52,4002,998
5,1400000US48201210700,48201210700,"Census Tract 2107, Harris County, Texas",2537,398,1243,366,406,136,11,12,2031,414

In [393]:
acs_suffolk_addID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 1 to 204
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      204 non-null    object
 1   ID          204 non-null    int64
 2   NAME        204 non-null    object
 3   DP05_0063E  204 non-null    int64
 4   DP05_0063M  204 non-null    int64
 5   DP05_0064E  204 non-null    int64
 6   DP05_0064M  204 non-null    int64
 7   DP05_0065E  204 non-null    int64
 8   DP05_0065M  204 non-null    int64
 9   DP05_0067E  204 non-null    int64
 10  DP05_0067M  204 non-null    int64
 11  DP05_0071E  204 non-null    int64
 12  DP05_0071M  204 non-null    int64
dtypes: int64(11), object(2)
memory usage: 20.8+ KB

In [394]:
epa_suffolk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          235 non-null    int64
 1   STATE_NAME  235 non-null    object
 2   ST_ABBREV   235 non-null    object
 3   CNTY_NAME   235 non-null    object
 4   REGION      235 non-null    int64
 5   PM25        235 non-null    float64
 6   OZONE       235 non-null    float64
 7   DSLPM       231 non-null    float64
 8   CANCER      231 non-null    float64
 9   RESP        231 non-null    float64
 10  RSEI_AIR    234 non-null    float64
 11  PTRAF       230 non-null    float64
 12  PRE1960     235 non-null    float64
 13  PRE1960PCT  235 non-null    float64
 14  PNPL        235 non-null    float64
 15  PRMP        235 non-null    float64
 16  PTSDF       235 non-null    float64
 17  UST         234 non-null    float64
 18  PWDIS       230 non-null    float64
dtypes: float64(14), int64(2), object(3)
memory usage: 35.0+ KB

In [401]:
acs_epa_merged_suffolk = pd.merge(acs_suffolk_addID, epa_suffolk, how='inner', on='ID')
acs_epa_merged_LA = pd.merge(acs_LA_addID, epa_LA, how='inner', on='ID')
acs_epa_merged_harris = pd.merge(acs_harris_addID, epa_harris, how='inner', on='ID')

In [396]:
# re-order columns
df = acs_epa_merged_suffolk
df.insert(3, 'STATE_NAME', df.pop('STATE_NAME'))
df.insert(4, 'ST_ABBREV', df.pop('ST_ABBREV'))
df.insert(5, 'CNTY_NAME', df.pop('CNTY_NAME'))
df.insert(6, 'REGION', df.pop('REGION'))
acs_epa_merged_reordered_suffolk = df
acs_epa_merged_reordered_suffolk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      180 non-null    object
 1   ID          180 non-null    int64
 2   NAME        180 non-null    object
 3   STATE_NAME  180 non-null    object
 4   ST_ABBREV   180 non-null    object
 5   CNTY_NAME   180 non-null    object
 6   REGION      180 non-null    int64
 7   DP05_0063E  180 non-null    int64
 8   DP05_0063M  180 non-null    int64
 9   DP05_0064E  180 non-null    int64
 10  DP05_0064M  180 non-null    int64
 11  DP05_0065E  180 non-null    int64
 12  DP05_0065M  180 non-null    int64
 13  DP05_0067E  180 non-null    int64
 14  DP05_0067M  180 non-null    int64
 15  DP05_0071E  180 non-null    int64
 16  DP05_0071M  180 non-null    int64
 17  PM25        180 non-null    float64
 18  OZONE       180 non-null    float64
 19  DSLPM       176 non-null    float64
 20  CANCER      176 non-null    float64
 21  RESP        176 non-null    float64
 22  RSEI_AIR    179 non-null    float64
 23  PTRAF       177 non-null    float64
 24  PRE1960     180 non-null    float64
 25  PRE1960PCT  180 non-null    float64
 26  PNPL        180 non-null    float64
 27  PRMP        180 non-null    float64
 28  PTSDF       180 non-null    float64
 29  UST         179 non-null    float64
 30  PWDIS       177 non-null    float64
dtypes: float64(14), int64(12), object(5)
memory usage: 43.7+ KB

In [361]:
# re-order columns
df = acs_epa_merged_LA
df.insert(3, 'STATE_NAME', df.pop('STATE_NAME'))
df.insert(4, 'ST_ABBREV', df.pop('ST_ABBREV'))
df.insert(5, 'CNTY_NAME', df.pop('CNTY_NAME'))
df.insert(6, 'REGION', df.pop('REGION'))
acs_epa_merged_reordered_LA = df
acs_epa_merged_reordered_LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      2498 non-null   object
 1   ID          2498 non-null   int64
 2   NAME        2498 non-null   object
 3   STATE_NAME  2498 non-null   object
 4   ST_ABBREV   2498 non-null   object
 5   CNTY_NAME   2498 non-null   object
 6   REGION      2498 non-null   int64
 7   DP05_0063E  2498 non-null   int64
 8   DP05_0063M  2498 non-null   int64
 9   DP05_0064E  2498 non-null   int64
 10  DP05_0064M  2498 non-null   int64
 11  DP05_0065E  2498 non-null   int64
 12  DP05_0065M  2498 non-null   int64
 13  DP05_0067E  2498 non-null   int64
 14  DP05_0067M  2498 non-null   int64
 15  DP05_0071E  2498 non-null   int64
 16  DP05_0071M  2498 non-null   int64
 17  PM25        2495 non-null   float64
 18  OZONE       2495 non-null   float64
 19  DSLPM       2484 non-null   float64
 20  CANCER      2484 non-null   float64
 21  RESP        2484 non-null   float64
 22  RSEI_AIR    2495 non-null   float64
 23  PTRAF       2486 non-null   float64
 24  PRE1960     2498 non-null   float64
 25  PRE1960PCT  2498 non-null   float64
 26  PNPL        2498 non-null   float64
 27  PRMP        2498 non-null   float64
 28  PTSDF       2498 non-null   float64
 29  UST         2495 non-null   float64
 30  PWDIS       2484 non-null   float64
dtypes: float64(14), int64(12), object(5)
memory usage: 605.1+ KB

In [397]:
# re-order columns
df = acs_epa_merged_harris
df.insert(3, 'STATE_NAME', df.pop('STATE_NAME'))
df.insert(4, 'ST_ABBREV', df.pop('ST_ABBREV'))
df.insert(5, 'CNTY_NAME', df.pop('CNTY_NAME'))
df.insert(6, 'REGION', df.pop('REGION'))
acs_epa_merged_reordered_harris = df
acs_epa_merged_reordered_harris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      1115 non-null   object
 1   ID          1115 non-null   int64
 2   NAME        1115 non-null   object
 3   STATE_NAME  1115 non-null   object
 4   ST_ABBREV   1115 non-null   object
 5   CNTY_NAME   1115 non-null   object
 6   REGION      1115 non-null   int64
 7   DP05_0063E  1115 non-null   int64
 8   DP05_0063M  1115 non-null   int64
 9   DP05_0064E  1115 non-null   int64
 10  DP05_0064M  1115 non-null   int64
 11  DP05_0065E  1115 non-null   int64
 12  DP05_0065M  1115 non-null   int64
 13  DP05_0067E  1115 non-null   int64
 14  DP05_0067M  1115 non-null   int64
 15  DP05_0071E  1115 non-null   int64
 16  DP05_0071M  1115 non-null   int64
 17  PM25        1115 non-null   float64
 18  OZONE       1115 non-null   float64
 19  DSLPM       1115 non-null   float64
 20  CANCER      1115 non-null   float64
 21  RESP        1115 non-null   float64
 22  RSEI_AIR    1115 non-null   float64
 23  PTRAF       1113 non-null   float64
 24  PRE1960     1115 non-null   float64
 25  PRE1960PCT  1115 non-null   float64
 26  PNPL        1115 non-null   float64
 27  PRMP        1115 non-null   float64
 28  PTSDF       1115 non-null   float64
 29  UST         1115 non-null   float64
 30  PWDIS       1113 non-null   float64
dtypes: float64(14), int64(12), object(5)
memory usage: 270.2+ KB

In [398]:
acs_epa_merged_reordered_suffolk.to_csv("./data/census_data/suffolk_merged_acs+epa_tracts.csv", index=False)
acs_epa_merged_reordered_LA.to_csv("./data/census_data/LA_merged_acs+epa_tracts.csv", index=False)
acs_epa_merged_reordered_harris.to_csv("./data/census_data/harris_merged_acs+epa_tracts.csv", index=False)

In [414]:
#test
pd.read_csv('./data/census_data/suffolk_merged_acs+epa_tracts.csv', encoding='latin-1', low_memory=False)
pd.read_csv('./data/census_data/LA_merged_acs+epa_tracts.csv', encoding='latin-1', low_memory=False)
pd.read_csv('./data/census_data/harris_merged_acs+epa_tracts.csv', encoding='latin-1', low_memory=False)

,GEO_ID,ID,NAME,STATE_NAME,ST_ABBREV,CNTY_NAME,REGION,DP05_0063E,DP05_0063M,DP05_0064E,...,RESP,RSEI_AIR,PTRAF,PRE1960,PRE1960PCT,PNPL,PRMP,PTSDF,UST,PWDIS
0,1400000US48201100001,48201100001,"Census Tract 1000.01, Harris County, Texas",Texas,TX,Harris,6,4999,538,2957,...,0.4,39398.263343,1201.509898,511.0,0.140733,0.437887,0.660493,1.731679,11.655939,6.414024e-02
1,1400000US48201210400,48201210400,"Census Tract 2104, Harris County, Texas",Texas,TX,Harris,6,4411,615,2573,...,0.4,49223.905064,427.109574,1090.0,0.619318,1.266042,0.870471,2.902851,8.362271,1.550186e-03
2,1400000US48201210500,48201210500,"Census Tract 2105, Harris County, Texas",Texas,TX,Harris,6,5013,629,2658,...,0.4,44498.086804,207.484566,1066.0,0.538384,1.902621,1.064167,1.691259,10.418014,1.776223e-06
3,1400000US48201210600,48201210600,"Census Tract 2106, Harris County, Texas",Texas,TX,Harris,6,5645,1468,4353,...,0.4,40079.008365,655.175495,2039.0,0.798668,1.264183,0.453326,0.668696,8.679559,1.411952e-06
4,1400000US48201210700,48201210700,"Census Tract 2107, Harris County, Texas",Texas,TX,Harris,6,2537,398,1243,...,0.4,42410.908470,684.507951,701.0,0.696127,2.777789,0.612060,1.039651,4.161179,5.353150e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,1400000US48201980100,48201980100,"Census Tract 9801, Harris County, Texas",Texas,TX,Harris,6,0,14,0,...,0.4,37658.201670,257.202740,0.0,0.000000,0.049493,0.242191,0.179914,2.017678,2.108270e-04
1111,1400000US48201980200,48201980200,"Census Tract 9802, Harris County, Texas",Texas,TX,Harris,6,9712,2515,4518,...,0.4,42586.050010,1136.056681,21.0,0.313433,0.911457,0.679121,1.697900,9.934077,4.661447e-01
1112,1400000US48201980300,48201980300,"Census Tract 9803, Harris County, Texas",Texas,TX,Harris,6,2770,383,1452,...,0.4,31963.909330,98.354539,0.0,0.000000,0.230832,0.792049,8.731878,4.208065,1.303068e-03
1113,1400000US48201980400,48201980400,"Census Tract 9804, Harris County, Texas",Texas,TX,Harris,6,4134,1148,2244,...,0.4,40680.295040,84.542251,0.0,0.000000,0.188720,0.761672,3.371008,2.441591,2.346256e-03
1114,1400000US48201980700,48201980700,"Census Tract 9807, Harris County, Texas",Texas,TX,Harris,6,1427,259,1172,...,0.4,38738.382670,1353.052327,810.0,0.585260,0.587867,0.630203,1.540185,14.566842,1.668422e-01

In [403]:
merged = pd.merge(acs_suffolk_addID, epa_suffolk, how='outer', on='ID', indicator=True)
missing_from_epa_suffolk = merged[merged['_merge'] == 'left_only']
missing_from_acs_suffolk = merged[merged['_merge'] == 'right_only']
print('suffolk: missing from acs = ', len(missing_from_acs_suffolk))
print('suffolk: missing from epa = ', len(missing_from_epa_suffolk))

suffolk: missing from acs =  55
suffolk: missing from epa =  24

In [405]:
merged = pd.merge(acs_LA_addID, epa_LA, how='outer', on='ID', indicator=True)
missing_from_epa_LA = merged[merged['_merge'] == 'left_only']
missing_from_acs_LA = merged[merged['_merge'] == 'right_only']
print('LA: missing from acs = ', len(missing_from_acs_LA))
print('LA: missing from epa = ', len(missing_from_epa_LA))

LA: missing from acs =  0
LA: missing from epa =  0

In [406]:
merged = pd.merge(acs_harris_addID, epa_harris, how='outer', on='ID', indicator=True)
missing_from_epa_harris = merged[merged['_merge'] == 'left_only']
missing_from_acs_harris = merged[merged['_merge'] == 'right_only']
print('harris: missing from acs = ', len(missing_from_acs_harris))
print('harris: missing from epa = ', len(missing_from_epa_harris))

harris: missing from acs =  0
harris: missing from epa =  0

In [407]:
missing_from_acs_suffolk['ID']

204    25025000101
205    25025000102
206    25025000505
207    25025000506
208    25025000603
209    25025000604
210    25025000804
211    25025000805
212    25025000806
213    25025000807
214    25025010205
215    25025010206
216    25025020304
217    25025020305
218    25025030301
219    25025030302
220    25025060601
221    25025060602
222    25025060603
223    25025060604
224    25025061201
225    25025061202
226    25025061203
227    25025061204
228    25025070102
229    25025070103
230    25025070104
231    25025070201
232    25025070202
233    25025070301
234    25025070302
235    25025070501
236    25025070502
237    25025070801
238    25025070802
239    25025070901
240    25025070902
241    25025081101
242    25025081102
243    25025081301
244    25025081302
245    25025110104
246    25025110105
247    25025110106
248    25025130101
249    25025160102
250    25025160103
251    25025170101
252    25025170102
253    25025170301
254    25025170302
255    25025170503
256    25025170504
257    25025980900
258    25025981900
Name: ID, dtype: int64

In [408]:
missing_from_epa_suffolk['ID']

0      25025000100
9      25025000504
11     25025000602
15     25025000802
16     25025000803
19     25025010203
36     25025020303
39     25025030300
64     25025060600
69     25025061200
70     25025070101
71     25025070200
72     25025070300
74     25025070500
77     25025070800
78     25025070900
89     25025081100
91     25025081300
135    25025110103
153    25025130100
167    25025160101
175    25025170100
177    25025170300
179    25025170501
Name: ID, dtype: int64

In [411]:
acs_epa_merged_reordered_suffolk.columns

Index(['GEO_ID', 'ID', 'NAME', 'STATE_NAME', 'ST_ABBREV', 'CNTY_NAME',
       'REGION', 'DP05_0063E', 'DP05_0063M', 'DP05_0064E', 'DP05_0064M',
       'DP05_0065E', 'DP05_0065M', 'DP05_0067E', 'DP05_0067M', 'DP05_0071E',
       'DP05_0071M', 'PM25', 'OZONE', 'DSLPM', 'CANCER', 'RESP', 'RSEI_AIR',
       'PTRAF', 'PRE1960', 'PRE1960PCT', 'PNPL', 'PRMP', 'PTSDF', 'UST',
       'PWDIS'],
      dtype='object')